

#main {
    padding: 10px;
}

#navbar {
    display: flex;
    align-items: center; /* nav 내부 요소들을 수직으로 가운데 정렬 */
    padding: 10px 0;
}

#navbar ul {
    display: flex;
    justify-content: center; /* nav 내부 요소들을 가로로 가운데 정렬 */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    position: relative;
    padding: 10px;
}

#navbar ul li .dropdown {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff; /* 흰색 배경 */
    padding: 10px 0;
    min-width: 150px; /* 드롭다운 최소 너비 설정 */
    border: 1px solid #ddd; /* 경계선 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    z-index: 1000; /* 메뉴가 다른 요소 위에 표시되도록 설정 */
}

#navbar ul li .dropdown li {
    padding: 8px 12px; /* 내부 간격 */
    list-style-type: none;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    background-color: #fff; /* 항목의 배경을 흰색으로 설정 */
    color: #333; /* 텍스트 색상 */
    border-bottom: 1px solid #ddd; /* 항목들 간의 구분선 추가 */
}

#navbar ul li .dropdown li:last-child {
    border-bottom: none; /* 마지막 항목의 하단 구분선을 제거 */
}

#navbar ul li .dropdown li:hover {
    background-color: #fff; 
}

#navbar ul li:hover .dropdown {
    display: block; /* 마우스 오버 시 드롭다운 표시 */
}

#navbar div a, #navbar div button {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333; /* 기본 텍스트 색상 */
    background-color: #fff; /* 배경 색상 흰색 */
    border: none; /* 기본 경계선 제거 */
}

#navbar div a:hover, #navbar div button:hover {
    color: #000; /* 마우스 오버 시 텍스트 색상 변경 */
    background-color: #f0f0f0; /* 마우스 오버 시 배경색을 연한 회색으로 변경 */
}

.v-line {
    border-left: 1px solid #000; /* 가는 선 추가 */
    height: auto; /* 선이 nav 높이 전체에 적용되도록 설정 */
    margin: 0 10px; /* 선 주변의 여백 */
    align-self: stretch; /* 선이 nav 내부에서 늘어나도록 설정 */
    display: block; /* v-line이 표시되도록 설정 */
}

#navbar ul li .dropdown li:hover,
#navbar span:hover,
#navbar ul li span:hover {
    font-weight: bold; /* 마우스 오버 시 글자를 굵게 */
}