<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글</title>
</head>
<body>

<div>
    <h1>게시판</h1>
</div>

<div>
    <article>
        <input type="hidden" id="board-id" th:value="${board.id}">
        <header>
            <h2 th:text="${board.title}"></h2>
            <div th:text="|작성자 : ${board.author}, 작성 시간 ${#temporals.format(board.createTime, 'yyyy-MM-dd HH:mm')}|"></div>
        </header>
        <section>
            <p th:text="${board.content}"></p>
        </section>
        <button type="button" id="modify-btn"
                th:onclick="|location.href='@{/write-board?id={boardId}(boardId=${board.id})}'|">수정</button>
        <button type="button" id="delete-btn">삭제</button>
    </article>

    <hr>

    <section>
        <div>
            <h5>댓글</h5>
            <div>
                <textarea id="content" rows="3"></textarea>
            </div>
            <button type="button" id="comment-create-btn">등록</button>
        </div>
    </section>

    <section th:each="comment : ${board.comments}">
        <input type="hidden" id="comment-id" th:value="${comment.id}">
        <div>
            <div th:text="|작성자 : ${comment.author}, 작성 시간 ${#temporals.format(comment.createTime, 'yyyy-MM-dd HH:mm')}|"></div>
            <div th:id="'comment-content-' + ${comment.id}" th:text="${comment.content}"></div>
            <!-- this 로 태그 정보 넘김 -->
            <button type="button" th:id="'comment-modify-btn-' + ${comment.id}" th:onclick="modifyComment([[${comment.id}]], this)">수정</button>
            <button type="button" th:id="'comment-delete-btn-' + ${comment.id}" th:onclick="deleteComment([[${comment.id}]])">삭제</button>
        </div>
    </section>
</div>

<script src="/js/board.js"></script>

</body>
</html>