<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/nav.css">
    <title>main</title>
</head>

<body>

    <nav id="navbar">
        <span id="main" onclick="location.href='/main'">메인</span>
        <div class="v-line"></div>

        <ul id="menu">
            <li><div>게시판</div>
                <ul class="dropdown">
                    <li  onclick="location.href='/popularBoards'">인기 게시판</li>
                    <li onclick="location.href='/boards'">자유 게시판</li>
                </ul>
            </li>

            <div class="v-line"></div>

            <li><div>소설</div>
                <ul class="dropdown">
                    <li onclick="location.href='/novelList'">소설 게시판</li>
                    <li onclick="location.href='/novelSearch'">검색</li>
                    <li onclick="location.href='/ranking'">Top 100</li>
                    <li th:if="${user} != null" onclick="location.href='/myShelf'">내 서재</li>
                </ul>
            </li>
        </ul>

        <div class="login-box">
            <div th:if="${user} != null">
                <a href="/info">내 정보</a>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
            </div>
            <div th:if="${user} == null">
                <button type="button" onclick="location.href='/login'">로그인</button>
            </div>
        </div>

    </nav>

    <hr>

    <div>
        <!--자유 게시판-->
        <h2><a href="/boards">자유 게시판</a></h2>
        <ul th:each="item: ${boardList}">
            <li>
                <input type="hidden" id="board-id" th:value="${item.id}">
                <a th:href="@{/boards/{id}(id=${item.id})}" th:text="${item.title}"></a>
            </li>
        </ul>
    </div>

    <div>
        <!--인기 게시판-->
        <h2><a href="/popularBoards">인기 게시판</a></h2>
        <ul th:each="item: ${popularBoardList}">
            <li>
                <input type="hidden" id="popular-board-id" th:value="${item.id}">
                <a th:href="@{/boards/{id}(id=${item.id})}" th:text="${item.title}"></a>
            </li>
        </ul>
    </div>

    <!-- 소설 게시판 -->
    <div>
        <h2><a href="/novelList">소설 게시판</a></h2>
        <ul th:each="item: ${novelList}">
            <li>
                <input type="hidden" th:value="${item.id}">
                <a th:href="@{/novel/{id}(id=${item.id})}" th:text="${item.title}"></a>
            </li>
        </ul>
    </div>

    <script src="/js/token.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/menu.js"></script>

</body>

</html>