<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>내 서재</title>
</head>

<body>

    <nav id="navbar">
        <span onclick="location.href='/main'">메인</span>
        <ul id="menu">
            <li><span>게시판</span>
                <ul>
                    <li onclick="location.href='/popularBoards'">인기 게시판</li>
                    <li onclick="location.href='/boards'">자유 게시판</li>
                </ul>
            </li>
            <li><span>소설</span>
                <ul>
                    <li onclick="location.href='/novelList'">소설 게시판</li>
                    <li th:if="${user} != null" onclick="location.href='/myShelf'">내 서재</li>
                </ul>
            </li>
        </ul>

        <div>
            <div th:if="${user} != null">
                <a href="/info">내 정보</a>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
                <!--            <button type="button" onclick="">회원탈퇴</button>-->
            </div>
            <div th:if="${user} == null">
                <button type="button" onclick="location.href='/login'">로그인</button>
            </div>
        </div>
    </nav>

    <hr>

    <div>
        <button id="show-favorite" onclick="location.href='/myShelf'">선호작</button>
        <button id="show-lastread" onclick="location.href='/myShelf?viewpage=continue'">이어보기</button>
    </div>

    <hr>

    <!-- 선호작 -->
    <div th:if="${userShelfs != null && viewpage == 'favorite'}">
        <div th:each="userShelf : ${userShelfs}" th:if="${userShelf.favorite}">
            <input type="hidden" id="userShelf-id" th:value="${userShelf.id}">
            <div th:onclick="|location.href='@{/novel/{id}(id=${userShelf.novel.id})}'|">
                <div th:if="${userShelf.novel.filename != null}">
                    <img id="coverImage" alt="thumbnail"
                        th:src="@{'/cover_image/' + ${userShelf.novel.author} + '/' + ${userShelf.novel.title} + '/' + ${userShelf.novel.filename}}"
                        style="width: 100px; height: 100px; object-fit: cover;">
                </div>
                <h3 th:text="${userShelf.novel.title}"></h3>
            </div>
            <span th:text="|작가: ${userShelf.novel.author}|" th:onclick="|location.href='@{/userpage/{username}(username=${userShelf.novel.author})}'|"></span>

            <!-- 다음화를 봐야하는 경우 이어보기 대신 다음화보기 제공 -->
            <div>
                <span th:if="${userShelf.firstChapterId != null}"
                    th:onclick="|location.href='@{/novelView?id={id}(id=${userShelf.firstChapterId})}'|">첫화보기</span>

                <!-- 이어보기 -->
                <span
                    th:if="${userShelf.lastReadChapterId != null && userShelf.readPosition < (userShelf.maxScroll - 2)}"
                    th:unless="${userShelf.firstChapterId != null && userShelf.lastReadChapterId == null}"
                    th:onclick="|location.href='@{/novelView?id={id}(id=${userShelf.lastReadChapterId})}'|">이어보기</span>

                <!-- 다음화가 없는 경우에도 마지막 읽은 회차로 이어보기 -->
                <span
                    th:if="${userShelf.lastReadChapterId != null && userShelf.readPosition >= (userShelf.maxScroll - 2)}"
                    th:unless="${userShelf.nextChapterId != null}"
                    th:onclick="|location.href='@{/novelView?id={id}(id=${userShelf.lastReadChapterId})}'|">이어보기</span>

                <span th:if="${userShelf.nextChapterId != null && userShelf.readPosition >= (userShelf.maxScroll - 2)}"
                    th:unless="${userShelf.firstChapterId != null}"
                    th:onclick="|location.href='@{/novelView?id={id}(id=${userShelf.nextChapterId})}'|">다음화보기</span>
            </div>

            <hr>
        </div>

        <div th:if="${viewpage == 'favorite'}">
            <a th:href="@{/myShelf(page=1)}">First</a>

            <span>
                <a th:if="${prev > 1}" th:href="@{/myShelf(page=${prev})}">prev</a>
                <span th:if="${prev < 1}">prev</span>
            </span>

            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${page == userShelfs.number + 1}" th:text="${page}" style="color: red"></span>
                <span th:unless="${page == userShelfs.number + 1}">
                    <a th:href="@{/myShelf(page=${page})}" th:text="${page}"></a>
                </span>
            </span>

            <span>
                <a th:if="${next <= userShelfs.totalPages}" th:href="@{/myShelf(page=${next})}">next</a>
                <span th:if="${next > userShelfs.totalPages}">next</span>
            </span>

            <a th:href="@{/myShelf(page=${userShelfs.totalPages})}">Last</a>
        </div>
    </div>

    <!-- 이어보기 -->
    <div th:if="${userShelfs != null && viewpage == 'continue'}">
        <div th:each="userShelf : ${userShelfs}" th:if="${userShelf.lastReadChapterId}">
            <input type="hidden" id="userShelf-id" th:value="${userShelf.id}">
            <div th:onclick="|location.href='@{/novel/{id}(id=${userShelf.novel.id})}'|">
                <div th:if="${userShelf.novel.filename != null}">
                    <img id="coverImage" alt="thumbnail"
                        th:src="@{'/cover_image/' + ${userShelf.novel.author} + '/' + ${userShelf.novel.title} + '/' + ${userShelf.novel.filename}}"
                        style="width: 100px; height: 100px; object-fit: cover;">
                </div>
                <h3 th:text="${userShelf.novel.title}"></h3>
            </div>
            <span th:text="|작가: ${userShelf.novel.author}|" th:onclick="|location.href='@{/userpage/{username}(username=${userShelf.novel.author})}'|"></span>

            <!-- 다음화를 봐야하는 경우 이어보기 대신 다음화보기 제공 -->
            <div>
                <!-- 이어보기 -->
                <span
                    th:if="${userShelf.lastReadChapterId != null && userShelf.readPosition < (userShelf.maxScroll - 2)}"
                    th:unless="${userShelf.firstChapterId != null && userShelf.lastReadChapterId == null}"
                    th:onclick="|location.href='@{/novelView?id={id}(id=${userShelf.lastReadChapterId})}'|">이어보기</span>

                <!-- 다음화가 없는 경우에도 마지막 읽은 회차로 이어보기 -->
                <span
                    th:if="${userShelf.lastReadChapterId != null && userShelf.readPosition >= (userShelf.maxScroll - 2)}"
                    th:unless="${userShelf.nextChapterId != null}"
                    th:onclick="|location.href='@{/novelView?id={id}(id=${userShelf.lastReadChapterId})}'|">이어보기</span>

                <span th:if="${userShelf.nextChapterId != null && userShelf.readPosition >= (userShelf.maxScroll - 2)}"
                    th:unless="${userShelf.firstChapterId != null}"
                    th:onclick="|location.href='@{/novelView?id={id}(id=${userShelf.nextChapterId})}'|">다음화보기</span>
            </div>

            <hr>
        </div>

        <div th:if="${viewpage == 'continue'}">
            <a th:href="@{/myShelf?viewpage=continue(page=1)}">First</a>

            <span>
                <a th:if="${prev > 1}" th:href="@{/myShelf?viewpage=continue(page=${prev})}">prev</a>
                <span th:if="${prev < 1}">prev</span>
            </span>

            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${page == userShelfs.number + 1}" th:text="${page}" style="color: red"></span>
                <span th:unless="${page == userShelfs.number + 1}">
                    <a th:href="@{/myShelf?viewpage=continue(page=${page})}" th:text="${page}"></a>
                </span>
            </span>

            <span>
                <a th:if="${next <= userShelfs.totalPages}"
                    th:href="@{/myShelf?viewpage=continue(page=${next})}">next</a>
                <span th:if="${next > userShelfs.totalPages}">next</span>
            </span>

            <a th:href="@{/myShelf?viewpage=continue(page=${userShelfs.totalPages})}">Last</a>
        </div>
    </div>

    <hr>

    <script src="/js/novel.js"></script>

</body>

</html>