<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/nav.css">
    <title>검색</title>
</head>

<body>

    <nav id="navbar">
        <span id="main" onclick="location.href='/main'">메인</span>
        <div class="v-line"></div>

        <ul id="menu">
            <li><div>게시판</div>
                <ul class="dropdown">
                    <li  onclick="location.href='/popularBoards'">인기 게시판</li>
                    <li onclick="location.href='/boards'">자유 게시판</li>
                </ul>
            </li>

            <div class="v-line"></div>

            <li><div>소설</div>
                <ul class="dropdown">
                    <li onclick="location.href='/novelList'">소설 게시판</li>
                    <li onclick="location.href='/novelSearch'">검색</li>
                    <li onclick="location.href='/ranking'">Top 100</li>
                    <li th:if="${user} != null" onclick="location.href='/myShelf'">내 서재</li>
                </ul>
            </li>
        </ul>

        <div class="login-box">
            <div th:if="${user} != null">
                <a href="/info">내 정보</a>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
            </div>
            <div th:if="${user} == null">
                <button type="button" onclick="location.href='/login'">로그인</button>
            </div>
        </div>

    </nav>

    <hr>

    <div>
        <input type="text" id="keyword" th:value="${keyword == null ? '' : keyword}" placeholder="제목 또는 작가명으로 소설 검색">
        <button type="button" id="novel-search-btn">검색</button>
    </div>

    <hr>

    <div th:if="${novelPage != null}">
        <div th:each="novel : ${novelPage}">
            <input type="hidden" id="novel-id" th:value="${novel.id}">
            <div th:onclick="|location.href='@{/novel/{id}(id=${novel.id})}'|">
                <div th:if="${novel.filename != null}">
                    <img id="coverImage" alt="thumbnail"
                        th:src="@{'/cover_image/' + ${novel.author} + '/' + ${novel.title} + '/' + ${novel.filename}}"
                        style="width: 100px; height: 100px; object-fit: cover;">
                </div>
                <h3 th:text="${novel.title}"></h3>
            </div>
            <span th:text="|작가: ${novel.author}|"
                th:onclick="|location.href='@{/userpage/{username}(username=${novel.author})}'|"></span>

            <hr>
        </div>

        <div th:if="${keyword != null}">
            <a th:href="@{/novelSearch(page=1)}">First</a>

            <span>
                <a th:if="${prev > 1}" th:href="@{/novelSearch(page=${prev})}">prev</a>
                <span th:if="${prev < 1}">prev</span>
            </span>

            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${page == novelPage.number + 1}" th:text="${page}" style="color: red"></span>
                <span th:unless="${page == novelPage.number + 1}">
                    <a th:href="@{/novelSearch(page=${page})}" th:text="${page}"></a>
                </span>
            </span>

            <span>
                <a th:if="${next <= novelPage.totalPages}" th:href="@{/novelSearch(page=${next})}">next</a>
                <span th:if="${next > novelPage.totalPages}">next</span>
            </span>

            <a th:href="@{/novelSearch(page=${novelPage.totalPages})}">Last</a>
        </div>
    </div>

    <script src="/js/novel.js"></script>
    <script src="/js/menu.js"></script>

</body>

</html>