<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>새 회차 작성</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>

<body>

    <nav id="navbar">
        <span onclick="location.href='/main'">메인</span>
        <ul id="menu">
            <li><span>게시판</span>
                <ul>
                    <li onclick="location.href='/popularBoards'">인기 게시판</li>
                    <li onclick="location.href='/boards'">자유 게시판</li>
                </ul>
            </li>
        </ul>

        <div>
            <div th:if="${isLogin} == true">
                <a href="/info">내 정보</a>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
                <!--            <button type="button" onclick="">회원탈퇴</button>-->
            </div>
            <div th:if="${isLogin} == false">
                <button type="button" onclick="location.href='/login'">로그인</button>
            </div>
        </div>
    </nav>

    <!-- th:value="${chapter?.id}" ?는 safe navigation operater이며, null인 경우에 null 자체를 리턴해 NullPointerException을 방지할 수 있음 -->
    <div>
        <article>
            <!-- 아이디 정보 저장 -->
            <input type="hidden" id="novel-id" th:value="${novelId}">
            <input type="hidden" id="novel-chapter-id" th:value="${chapter?.id}">

            <header>
                <input type="text" placeholder="제목" id="title" th:value="${chapter?.title}">
            </header>
            <section>
                <textarea rows="15" cols="50" placeholder="내용을 입력해주세요." id="content" th:utext="${chapter?.content}"></textarea>
            </section>
            <!-- id가 있을 때는 수정버튼, 없을 때는 등록 버튼 -->
            <button th:if="${chapter.id} != null" type="button" id="modify-btn">수정</button>
            <button th:if="${chapter.id} == null" type="button" id="create-btn">등록</button>
        </article>
    </div>

    <script src="/js/novel.js"></script>

</body>

</html>