<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- 소설 제목을 title로  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title th:text="${novel.title}">제목</title>
</head>

<body>

    <nav id="navbar">
        <span onclick="location.href='/main'">메인</span>
        <ul id="menu">
            <li><span>게시판</span>
                <ul>
                    <li onclick="location.href='/popularBoards'">인기 게시판</li>
                    <li onclick="location.href='/boards'">자유 게시판</li>
                </ul>
            </li>
        </ul>

        <div>
            <div th:if="${isLogin} == true">
                <a href="/info">내 정보</a>
                <button type="button" onclick="location.href='/logout'">로그아웃</button>
                <!--            <button type="button" onclick="">회원탈퇴</button>-->
            </div>
            <div th:if="${isLogin} == false">
                <button type="button" onclick="location.href='/login'">로그인</button>
            </div>
        </div>
    </nav>

    <div>
        <section>
            <input type="hidden" id="novel-id" th:value="${novel.id}">
            <input type="hidden" id="username" th:value="${user != null ? user.username : 'Anonymous'}">
            <h2 th:text="${novel.title}"></h2>
            <p th:text="${novel.author}"></p>
            <div th:if="${isLogin} == true and ${novel.author} == ${user.username}">
                <button type="button"
                    th:onclick="|location.href='@{/novelManage?id={id}(id=${novel.id})}'|">수정하기</button>
                <button type="button" id="delete-novel-btn">작품 삭제</button>
            </div>
            <p th:text="${novel.content}"></p>
        </section>
    </div>

    <div th:if="${isLogin} == true and ${novel.author} == ${user.username}">
        <button type="button" th:onclick="|location.href='@{/novel-write?novelId={novelId}(novelId = ${novel.id})}'|">새
            회차 작성</button>
        <button type="button" id="delete-lastepisode-btn">최신 회차 삭제</button>
    </div>

    <hr>

    <!-- 기본은 최신순, 클릭시 1화부터 정렬 ajax 이용해서 비동기 처리 -->
    <!-- <div id="episode-sort" value="desc" onclick="episodeSort(this)">최신화부터</div> -->
    <input type="button" id="episode-sort" value="최신화부터" onclick="episodeSort(this)">

    <hr>

    <div id="chapters">
        <div th:each="chapter : ${chapterList}">
            <input type="hidden" th:value="${chapter.id}">
            <div th:onclick="|location.href='@{/novelView?id={id}(id = ${chapter.id})}'|">
                <span th:text="|Ep${chapter.episode}.|"></span>
                <span th:text="${chapter.title}"></span> <br>
                <span th:text="|조회수:${chapter.hits}|"></span>
                <span th:text="|작성 시간:${#temporals.format(chapter.createdAt, 'yyyy-MM-dd HH:mm')}|"></span>
            </div>
            <div th:if="${user?.username} == ${chapter.author}">
                <button type="button"
                    th:onclick="|location.href='@{/novel-write?id={id}(id = ${chapter.id})}'|">수정</button>
            </div>
            <hr>
        </div>
    </div>

    <script src="/js/novel.js"></script>

</body>

</html>