<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title th:text="|Ep${chapter.episode}.${chapter.title}|">episode</title>

    <!-- 복사 방지 -->
    <style>

        #content {
            user-select: none; /* Prevent text selection in textarea */
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const textarea = document.getElementById('content');
            
            textarea.addEventListener('selectstart', function(e) {
                e.preventDefault();
            });

            textarea.addEventListener('mousedown', function(e) {
                e.preventDefault();
            });
        });
    </script>
</head>
<body>

    <div>
        <input type="hidden" id="chapter-id" th:value="${chapter.id}">
        <span id="title" th:text="|${chapter.title}|"></span>
    </div>

    <article>
        <textarea id="content" th:utext="${chapter.content}" cols="100" rows="30" style="resize: none;" readonly></textarea>
    </article>
    
    <hr>

    <!-- 댓글 -->
    <section>
        <p>인기 댓글</p>
        <div th:each="comment: ${chapter.chapterComments}" th:if="${comment.recommend} >= 10">
            <div th:text="|작성자 : ${comment.author}, 작성 시간 ${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
            <button th:onclick="commentRecommend([[${comment.id}]])">추천</button>
            <span th:id="'comment-recommend-' + ${comment.id}" th:text="${comment.recommend}"></span> <br>
            <div th:id="'comment-content-' + ${comment.id}" th:text="${comment.content}"></div>
            <hr>
        </div>

        <hr>

        <div>
            <h5>댓글</h5>
            <div>
                <textarea id="comment-content" rows="3"></textarea>
            </div>
            <button type="button" id="comment-create-btn">등록</button>
        </div>

        <hr>

        <div th:each="comment : ${chapter.chapterComments}">
            <input type="hidden" id="comment-id" th:value="${comment.id}">
            <div>
                <div th:text="|작성자 : ${comment.author}, 작성 시간 ${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                <button th:onclick="commentRecommend([[${comment.id}]])">추천</button>
                <span th:id="'comment-recommend-' + ${comment.id}" th:text="${comment.recommend}"></span> <br>
                <div th:id="'comment-content-' + ${comment.id}" th:text="${comment.content}"></div>
                <!-- this 로 태그 정보 넘김 -->
                <button th:if="${user?.username} == ${comment.author}" type="button" th:id="'modify-comment-btn-' + ${comment.id}" th:onclick="commentModify([[${comment.id}]], this)">수정</button>
                <button th:if="${user?.username} == ${comment.author}" type="button" th:id="'delete-comment-btn-' + ${comment.id}" th:onclick="commentDelete([[${comment.id}]])">삭제</button>
            </div>
            <hr>
        </div>
    </section>

    <script src="/js/novel.js"></script>
    
</body>
</html>